*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* background: url('imgs/back.png'); */
    /* background-size: cover; */
}

#time{
    font-size: 6rem;
    font-weight: 100;
}

h1{
    margin-bottom: 25px;
}

h2{
    margin: 10px;
    font-weight: 150;
}